@font-face {
  font-family: IranSans;
  src: url(font/iran-sans-400.ttf);
}

*{
    font-family:IranSans;
}

body{
    text-align:right;
}

.main-sidebar {
    left:0;
    text-align:right;
}

table {
    text-align: right !important;
}


.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: 10px;
}

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

nav#jazzy-navbar {
    flex-direction: row-reverse;
    justify-self: flex-end;
}

ul.nav.nav-pills.nav-sidebar.flex-column{
    padding-right:0;
}

div#jazzy-usermenu{
    text-align:right;
}